{% block MainSideMenu %}

    <div class="edu-course-sidebar">
        <div class="edu-course-widget widget-category">
            <div class="inner">
                <h5 class="widget-title">Journal Menu</h5>
                <div class="content">
                    <ul class="category-list">
                        <li><a href="/">Home</a> </li>
                        <li><a href="/aims-and-scope">Aims & Scope </a> </li>
                        <li><a href="/editorial-board">Editorial Board </a> </li>
                        <li><a href="/author-guide">Instructions for Authors </a>
                        </li>
                        <li><a href="/article-processing-fee">Article Processing Charge </a> </li>
                        <li><a href="/editorial-office">Contact Us</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- USE FULL LINKS -->
    <div class="edu-course-sidebar">
        <div class="edu-course-widget widget-category">
            <div class="inner">
                <h5 class="widget-title">Useful Links</h5>
                <div class="content">
                    <ul class="category-list">
                        <li><a href="index.html">For Authours</a> </li>
                        <li><a href="aims-and-scope.html">For Editors</a> </li>
                        <li><a href="editorial-board.html">For Reviewers</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}