{% block MainHeader %}
<header class="edu-header header-style-1 header-fullwidth no-topbar">
    <div id="edu-sticky-placeholder"></div>
    <div class="header-mainmenu">
        <div class="container-fluid">
            <div class="header-navbar">
                <div class="header-brand">
                    <div class="logo">
                        <a href="#">
                            <img class="logo-light" src="assetstwo/images/logo/logo-dark.png" alt="Corporate Logo">
                            <img class="logo-dark" src="assetstwo/images/logo/logo-white.png" alt="Corporate Logo">
                        </a>
                    </div>
                </div>
                <div class="header-mainnav">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu" style="align-items: center;">
                            <li><a href="#">Journals</a>

                            </li>
                            <li><a href="#">About</a>

                            </li>

                            <li class="has-droupdown mx-2"><a href="#">Browse Articles</a>
                                <ul class="submenu">
                                    <li><a href="#">Current Issue</a></li>
                                    <li><a href="#">All Issues</a></li>
                                    <li><a href="#">Special Issue</a></li>
                                </ul>
                            </li>

                            <li class="has-droupdown mx-2"><a href="#">Editorial Policy</a>
                                <ul class="submenu" style="min-width: 430px;">
                                    <li><a href="#">Research and Publication
                                            Ethics</a></li>
                                    <li><a href="#">Peer Review Policy</a></li>
                                    <li><a href="#">Special Issue</a></li>
                                    <li><a href="#">Copyright and Open Access
                                            Policy</a></li>
                                    <li><a href="#">Article Sharing (Author
                                            Self-Archiving) Policy</a></li>
                                    <li><a href="#">Archiving Policy</a></li>
                                    <li><a href="#">Data Sharing Policy</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Contact Journal</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <ul class="header-action">
                        <li class="header-btn">
                            <a href="#" class="edu-btn btn-medium btn-gradient">Submit
                                Manuscript<i class="icon-4"></i></a>
                        </li>
                        <li class="mobile-menu-bar d-block d-xl-none">
                            <button class="hamberger-button">
                                <i class="icon-54"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo">
                    <a href="#">
                        <img class="logo-light" src="assetstwo/images/logo/logo-dark.png" alt="Corporate Logo">
                        <img class="logo-dark" src="assetstwo/images/logo/logo-white.png" alt="Corporate Logo">
                    </a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="icon-73"></i>
                    </button>
                </div>
            </div>
            <ul class="mainmenu" style="align-items: center;">
                <li><a href="#">Journals</a>

                </li>
                <li><a href="#">About</a>

                </li>

                <li style="padding-left: 10px;">
                    <div class="dropdown">
                        <button style="height: 38px;font-size:15px;"
                            class="btn btn-gradient dropdown-toggle text-white border-0" type="button"
                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Browse Articles
                        </button>
                        <div class="dropdown-menu mt-4" style="width: 146px;font-size: 15px;"
                            aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item py-3" href="#">Current Issue</a>
                            <a class="dropdown-item py-3" href="#">All Issues</a>
                            <a class="dropdown-item py-3" href="#">Special Issue</a>
                        </div>
                    </div>
                </li>

                <li style="padding-left: 22px;">
                    <div class="dropdown">
                        <button style="height: 38px; font-size: 15px;"
                            class="btn btn-gradient dropdown-toggle text-white border-0" type="button"
                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Editorial Policy
                        </button>
                        <div class="dropdown-menu mt-4" style="width: 356px; font-size: 15px;"
                            aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item py-3" href="#">Research and Publication
                                Ethics</a>
                            <a class="dropdown-item py-3" href="#">Peer Review Policy</a>
                            <a class="dropdown-item py-3" href="#">Copyright and Open Access
                                Policy</a>
                            <a class="dropdown-item py-3" href="#">Article Sharing (Author
                                Self-Archiving) Policy</a>
                            <a class="dropdown-item py-3" href="#">Archiving Policy</a>
                            <a class="dropdown-item py-3" href="#">Data Sharing Policy</a>
                        </div>
                    </div>
                </li>
                <li><a href="#">Contact Journal</a></li>
            </ul>
            </li>


            </ul>
        </div>
    </div>
    <!-- Start Search Popup  -->
    <div class="edu-search-popup">
        <div class="content-wrap">
            <div class="site-logo">
                <img class="logo-light" src="assetstwo/images/logo/logo-dark.png" alt="Corporate Logo">
                <img class="logo-dark" src="assetstwo/images/logo/logo-white.png" alt="Corporate Logo">
            </div>
            <div class="close-button">
                <button class="close-trigger"><i class="icon-73"></i></button>
            </div>
            <div class="inner">
                <form class="search-form" action="#">
                    <input type="text" class="edublink-search-popup-field" placeholder="Search Here...">
                    <button class="submit-button"><i class="icon-2"></i></button>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock %}